 .carousel {
     margin-left: 450px;
     margin-top: 100px;
    width: 1200px; /* Set the width to your desired value */
    height: 400px; /* Set the height to your desired value */
  }
.carousel-item img {
  width: 100%; /* This makes the images fill the container */
  height: auto; /* This maintains the aspect ratio */
}


.word-slider {
    width: 500px; /* Set the desired width */
    overflow: hidden;
}

.slider-content {
    display: inline-block; /* Make the container fit its content */
    white-space: nowrap; /* Prevent line breaks */
    animation: slide 20s linear infinite;
       color:greenyellow;
    font-family:Franklin Gothic;
    margin-left: 10px;
    
}

.slider-content span {
    margin-right: 20px; /* Adjust spacing between words */
}
@keyframes slide {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}



.footer {
           
            padding: 50px;
            text-align: center;
            margin-top: 200px;
            font-style: bold;
             background-color: rgba(255, 255, 255, 0.5);
        }